@model Project.Models.Language

@{
    ViewBag.Title = "Creating a language";
}

<p>@Html.ActionLink("Cancel", "Index")</p>
<h2>Creating a language</h2>

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <input type="submit" value="Create" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}