@model Project.Models.Language

@{
    ViewBag.Title = string.Format("{0} - Languages", Model.Name);
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
    &nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
</p>

<h2>@Model.Name</h2>
<p>Code: @Model.Code</p>

