@model Project.Models.Language

@{
    ViewBag.Title = "Editing a language";
}

<p>@Html.ActionLink("Cancel", "Details", new { id = Model.ID })</p>
<h2>Editing a language</h2>

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <input type="submit" value="Save" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}