@model IQueryable<Project.Models.Language>

@{
    ViewBag.Title = "Languages";
}

<h2>Languages</h2>

<p>@Html.ActionLink("Create", "Create")</p>

<table>
    @foreach(var item in Model)
    {
        <tr>
            <td>@Html.ActionLink(item.Name, "Details", new { id = item.ID })</td>
            <td>@Html.ActionLink(item.Code, "Details",new { id = item.ID })</td>
        </tr>
    }
</table>